@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: RobotoBold;
    src: url(fonts/Roboto/Roboto-Bold.ttf);
}

body {
    font-family: Roboto;
}

.vkAudio {
    margin: 0 auto;
    max-width: 1000px;
}

.vkAudio .search-wrapper {
    margin: 10px 0px 20px;
    font-size: 0;
}

.vkAudio .search-criteria {
    padding: 10px;
    margin: 0;
    width: 90%;
    font-size: 20px;
    color: #41924b;
    box-sizing: border-box;
    border: 1px solid #41924b;
    outline: none;
}

.vkAudio .search-button {
    margin: 0;
    padding: 10px;
    width: 10%;
    box-sizing: border-box;
    background-color: #41924b;
    border: 1px solid #41924b;
    font-size: 20px;
    color: white;
    cursor: pointer;
    outline: none;
}

.vkAudioList > li {
    padding: 20px;
    margin: 5px 0px;
    overflow: hidden;
    border: 1px solid #41924b;
    color: #41924b;
}

.vkAudioList .title, .vkAudioList .artist {
    margin-top: 4px;
    display: block;
    overflow: hidden;
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.vkAudioList .artist {
    margin-left: 10px;
    margin-right: 10px;
    max-width: 60%;
    float: left;
    font-family: RobotoBold;
}

.vkAudioList .time {
    margin-top: 4px;
    float: right;
}

.vkAudioList > li.active {
    background: #41924b;
    color: white;
    transition: all 0.4s;
}

.vkAudioList .play, .vkAudioList .active .pause, .vkAudioList .active.paused .play {
    display: block;
    float: left;
    cursor: pointer;
}

.vkAudioList .pause, .vkAudioList .active .play, .vkAudioList .active.paused .pause {
    display: none;
}

.vkAudioList > li i {
    font-size: 25px;
}

.vkAudioList .progress {
    display: none;
    margin-top: 20px;
    position: relative;
    width: 85%;
    height: 5px;
    cursor: pointer;
}

.vkAudioList .progress-value, .vkAudioList .progress-loading, .vkAudioList .volume-value {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
}

.vkAudioList .active .progress {
    display: block;
    background-color: white;
}

.vkAudioList .active .progress-value {
    background-color: #afeaaa;
}

.vkAudioList .active .progress-loading {
    background-color: #87e293;
}

.vkAudioList .volume {
    display: none;
    float: right;
    margin-top: 20px;
    height: 5px;
    width: 10%;
}

.vkAudioList .active .volume {
    position: relative;
    display: block;
    background-color: white;
    cursor: pointer;
}

.vkAudioList .volume-value {
    background-color: #afeaaa;
}

.vkAudioList .add-actions {
    display: none;
    margin-top: 20px;
}

.vkAudioList .active:hover .add-actions {
    display: block;
}

.vkAudioList .add-action {
    margin-right: 10px;
    cursor: pointer;
}

.vkAudioList .add-action i {
    font-size: 16px;
}

.vkAudioList .remove-song, .vkAudioList .add-song {
    float: right;
    margin-right: 0;
}

.vkAudioList .loop {
    opacity: 0.5;
}

.vkAudioList .loop.active {
    opacity: 1;
}